spring:
  application:
    name: simpleJWT1
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:authDB
    username: sa
    password:
  jpa:
    show-sql: true
    generate-ddl: true
    hibernate:
      ddl-auto: update

  h2:
    console:
      path: /h2-console
      enabled: true

server:
  port: 8080
